<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<!--html 태그에 넣을 수도 있음!! layout:fragment="content"-->

<div layout:fragment="content">
    <th:block th:if="${#strings.equals('ADMIN', currentUser.role.name())}">
        <a href="/festival/create">대회 작성</a>
    </th:block>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>대회명</th>
            <th>대회 날짜</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="festival : ${festivals}">

            <td th:text="${festival.id}"></td>
            <td><a th:href="@{/festival/{id}(id=${festival.id})}"><span th:text="${festival.name}"></span></a></td>
            <td th:text="${festival.day}"></td>
            <td th:text="${festival.created_at}"></td>
        </tr>
        </tbody>



    </table>
    <ul>
        <th:block th:unless="${festivals.first}">
            <li>
                <a class="page-link" th:href="@{/festivals?page={number}(number=${festivals.number-1})}">이전</a>
            </li>
        </th:block>
        <th:block th:unless="${festivals.last}">
            <li>
                <a class="page-link" th:href="@{/festivals?page={number}(number=${festivals.number-1})}">다음</a>
            </li>
        </th:block>
    </ul>
</div>


</html>