<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<!--html 태그에 넣을 수도 있음!! layout:fragment="content"-->

<div layout:fragment="content">
    <main id="main" class="main">
    <h1 th:text="${festivalResponse.name}"></h1>
    <div>
        <span>등록일</span><span th:text="${festivalResponse.created_at}"></span>
    </div>
    <div>
        <span>대회날짜</span><span th:text="${festivalResponse.day}"></span>
    </div>
    <div>
        <a href="/festival/">목록으로</a>
    </div>

    <th:block th:if="${error}">
        <p th:text="${error}"> </p>
    </th:block>
    <th:block th:if="${#strings.equals('ADMIN', currentUser.role.name())}">
        <div>
            <form action="#" th:action="|/festival/${festivalResponse.id}|" method="#" th:method="delete">
                <button type="submit" class="badge">삭제</button>
            </form>
            <a th:href="@{/festival/{id}/update(id=${festivalResponse.id})}" rel="nofollow">update</a>
        </div>
    </th:block>
    <div>
        <span>section 수 : </span> <span th:text="${festivalResponse.section_num}"></span>
    </div>
    <br>
    <div>
        <p th:text="${festivalResponse.description}"></p>
    </div>


    <th:block th:if="${#strings.equals('ADMIN', currentUser.role.name())}">
        <div class="card">
            <form th:method="post" th:action="|/festival/${festivalResponse.id}/team|" th:object="${teamRequest}">
                <div class="card-body">
                    <label th:for="team_name">팀 이름 : </label>
                    <input type="text" th:field="*{team_name}" th:errorclass="error-input"/>
                    <label th:for="team_name">팀원 이름(,로 구분) : </label>
                    <textarea id="content" th:field="*{user}"  th:errorclass="error-input" class="form-control" rows="1"></textarea>

                </div>
                <div class="card-footer">
                    <button type="submit">등록</button>
                </div>
            </form>
        </div>
    </th:block>


    <br>
    <div class="card">
        <div class="card-header">팀 순위</div>
        <ul class="list-group">
            <th:block th:if="${bestTeam}">
                <th:block th:each="team : ${bestTeam}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <th th:text="${team.team_name}"></th>
                        <span class="badge rounded-pill bg-primary" th:text="${team.GetTeamScore()}"></span>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">개인 순위</div>
        <ul class="list-group">
            <th:block th:if="${bestMember}">
                <th:block th:each="member : ${bestMember}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <th th:text="${member.memberName}"></th>
                        <span class="badge rounded-pill bg-primary" th:text="${member.score}"></span>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">팀 목록</div>
        <ul id="comment--box" class="list-group">
            <th:block th:if="${festivalResponse.team}">
                <th:block th:each="team : ${festivalResponse.team}">
                    <li id="comment--1" class="list-group-item d-flex justify-content-between">
                        <div>
                            <span th:text="${team.team_name}"></span>
                            <br>
                            <span>팀 점수:</span>
                        </div>
                        <div>
                            <th:block th:each="user : ${team.getUser()}">
                                <span th:text="${user}"></span>
                            </th:block>
                            <br>
                            <span th:text="${team.GetTeamScore()}"></span>
                        </div>

                        <div class="d-flex">
                            <a th:href="@{/festival/{id}/team/{teamId}(id=${festivalResponse.id}, teamId=${team.id})}" rel="nofollow"><span>상세 점수</span></a>
                            <!--                            <div class="">작성자: <span th:text="${reply.user.nickname}"></span></div>-->
                            <th:block th:if="${#strings.equals('ADMIN', currentUser.role.name())}">
                                <form action="#" th:action="|/festival/${festivalResponse.id}/team/${team.id}|" method="#" th:method="delete">
                                    <button type="submit" class="badge">삭제</button>
                                </form>
                            </th:block>
                        </div>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>
    </main>
</div>


</html>