<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<h1 th:text="${teamResponse.team_name}"></h1>

<div>
    <h2>팀원 목록</h2>
    <th:block th:each="user : ${teamResponse.getUser()}">
        <span th:text="${user}"></span>
    </th:block>

</div>
<div>
    <h2>팀 점수</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th:block th:each="user : ${teamResponse.getUser()}">
                    <th th:text="${user}"></th>
                    <th th:text="${user}"></th>
                </th:block>
                <!--      #,  김하림, 장석민, 전우진, 김은아, 양재헌-->
            </tr>
        </thead>
        <tbody>
            <tr  th:each="section : ${#numbers.sequence(1,sectionNum )}">
                <td th:text="${section}"></td>
                <th:block th:each=" score : ${teamResponse.GetScoreSection(section)}">
                    <td>
<!--                        <a id="scroceWin" th:href="@{/festival/{id}/team/{teamId}/score?section={section}&index={index}(id=${festivalResponse.id}, teamId=${teamResponse.id}, section=${section}, index=${scoreStat.index})}">-->
                        <a id="scroceWin" th:href="#">
                            <span th:text="${score}"></span>

                        </a>[[${user.age}]]
                        <script th:inline="javascript">

                            window.onload = function(){
                                const festivalId = [[${festivalResponse.id}]];
                                const teamId = [[${teamResponse.id}}]];
                                const section = [[${section}}]];
                                const indexNum = [[${scoreStat.index}}]];
                                const url = "/festival/" + festivalId + "/team/" + teamId + "/score?section=" + section + "?index=" + indexNum
                                document.getElementById("scroceWin").onclick = function(){
                                    window.open(url, "","width=200px,height=200px,top=200px,left=200px;");
                                };
                            }
                        </script>
                    </td>
                </th:block>
            </tr>
        </tbody>
    </table>
</div>




<div>
    <a th:href="@{/festival/{id}(id=${festivalId})}">뒤로가기</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>