<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post" th:action="|/festival/${festivalId}/team/${teamId}/score|" th:object="${scoreRequest}">
    <div>
        <label th:for="title">점수 : </label>
        <input type="number" th:field="*{score}" th:errorclass="error-input"/>
        <div class="error-class" th:errors="*{score}"></div>
    </div>
    <br/>
    <button th:onclick="sendScore([[]])" type="submit">등록</button>

    <script type="text/javascript" th:inline="javascript">

        function sendScore(score, sectionNum, indexNum){
            window.opener.setScore(score, sectionNum, indexNum);
            window.close();
        }

    </script>
</form>
</body>
</html>