<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시판 목록</h1>
<div class="container">
    <a href="/board/create">게시물 작성</a>
    <table>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>생성일자</th>
            <th>작성자</th>
        </tr>
        <tr th:each="board : ${boards}">

            <td th:text="${board.id}"></td>
            <td><a th:href="@{/board/{id}(id=${board.id})}"><span th:text="${board.title}"></span></a></td>
            <td th:text="${board.created_at}"></td>
            <td th:text="${board.user.getNickname()}"></td>
        </tr>

    </table>
    <ul>
        <th:block th:unless="${boards.first}">
            <li>
                <a class="page-link" th:href="@{/board?page={number}(number=${boards.number-1})}">이전</a>
            </li>
        </th:block>
        <th:block th:unless="${boards.last}">
            <li>
                <a class="page-link" th:href="@{/board?page={number}(number=${boards.number-1})}">다음</a>
            </li>
        </th:block>
    </ul>



</div>
</body>
</html>