<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<!--html 태그에 넣을 수도 있음!! layout:fragment="content"-->

<div layout:fragment="content">
        <div class="pagetitle">
            <h1>유저 목록</h1>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">유저 목록</h5>
                            <!-- Table with stripped rows -->
                            <form th:action="|/member/changeRole|" th:method="post" class="form-control">
                                <table class="table datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">로그인 아이디</th>
                                        <th scope="col">닉네임</th>
                                        <th scope="col">권한</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="user : ${users}">
                                        <th scope="row" th:text="${user.id}"></th>
                                        <td><a th:href="@{/member/{id}(id=${user.id})}"><span th:text="${user.loginId}"></span></a></td>
                                        <td th:text="${user.nickname}"></td>
                                        <td>
                                            <select th:name="|role-${user.id}|" >
                                                <th:block th:if="${#strings.equals('USER', user.role.name())}">
                                                    <option value="">일반</option>
                                                    <option th:value="CAP">조장</option>
                                                    <option th:value="ADMIN">관리자</option>
                                                </th:block>
                                                <th:block th:if="${#strings.equals('ADMIN', user.role.name())}">
                                                    <option value="">관리자</option>
                                                    <option th:value="USER">일반</option>
                                                    <option th:value="CAP">조장</option>
                                                </th:block>
                                                <th:block th:if="${#strings.equals('CAP', user.role.name())}">
                                                    <option value="">조장</option>
                                                    <option th:value="USER">일반</option>
                                                    <option th:value="ADMIN">관리자</option>
                                                </th:block>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="submit" >권한 변경</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
</div>


</html>